.writerEditor {
  transition: background-color 0.75s ease-in-out;
}

.writerEditor:focus {
  transition: background-color 0.75s ease-in-out;
}

.writerEditor.punishing:focus {
  background-color: red !important;
  transition-duration: 3.5s;
}

.writerEditor.punishing {
  background-color: red !important;
  transition-duration: 3.5s;
}
