

.writerEditor {
  transition: background-color 0.75s ease-in-out;
}

.writerEditor:focus {
  transition: background-color 0.75s ease-in-out;
}

.writerEditor.punishing:focus {
  background-color: red !important;
  transition-duration: 3.5s;
}

.writerEditor.punishing {
  background-color: red !important;
  transition-duration: 3.5s;
}

.tooltipIcon {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-weight: bolder;
  font-family: "Georgia", serif;
  font-style: italic;
  background-color: dodgerblue;
  color: white;
  text-align: center;
}